#######################################################
## Rename it to `.env.local`, and fill your own keys ##
#######################################################

# WalletConnect
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# Contract
TEST_PRIVATE_KEY=
SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=